* {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVIGATION BAR */
.nav {
  text-transform: uppercase;
  color: whitesmoke;
  margin-right: 22px;
  font-size: 12px;
}

.sticky-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

header {
  padding: 12px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.main-header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.829);
  align-items: center;
  justify-content: space-between;
}

.second-header {
  display: flex;
  padding: 2px 22px;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.582);
}

.artist-name {
  color: whitesmoke;
  text-transform: uppercase;
  padding-left: 10px;
}

.home-page {
  background-image: url("imgs/studio-img-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* SCROLLING-PAGES */
section {
  height: 100vh;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  scroll-snap-align: start;
}

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
