.credits-title {
  padding-top: 15px;
}

#credits-title {
  padding-bottom: 70px;
}

.credits-description {
  margin: 0 30px;
  margin-bottom: 10px;
}

.credits-playlist {
  width: 100%;
  margin: unset;
}

.playlist-container {
  margin: 3rem;
}
