* {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

/* NAVIGATION BAR */
.nav {
  text-transform: uppercase;
  color: whitesmoke;
  margin-right: 22px;
}

header {
  padding: 12px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  background-color: rgba(128, 128, 128, 0.267);
  padding: 17px 0;
}

.main-header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.829);
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
}

.second-header {
  display: flex;
  padding: 10px 22px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.582);
}

.second-header h2 {
  margin: 0;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  align-self: center;
  margin: 0 10px;
}

.artist-name {
  color: whitesmoke;
  text-transform: uppercase;
  padding-left: 10px;
  letter-spacing: 3px;
}

.home-page {
  background-image: url("/imgs/studio-img-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* SCROLLING-PAGES */

section {
  scroll-snap-align: start;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
  position: -webkit-sticky;
  height: 100vh;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-color: #eaeaea;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
}

.logo-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

#ig {
  height: 5vh;
}
