/* DESKTOP */

@media all and (max-width: 1300px) and (min-width: 768px) {
  section {
    scroll-snap-align: start;
    height: 100vh;
  }

  .content {
    font-size: 20px;
  }
}

/* LAPTOP: 768px */

/* TABLET */
@media all and (max-width: 768px) and (min-width: 480px) {
  * {
    color: blue;
  }

  .main-header {
    display: block;
    font-size: 12px;
  }

  .artist-name {
    padding: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }

  a:hover,
  a:active {
    background-color: unset;
    padding: 5px 0;
    border-top: 1px solid white;
  }

  .second-header {
    font-size: 8.5px;
  }

  .dot {
    height: 3px;
    width: 3px;
  }

  /* .home-page {
    background-image: url("/imgs/studio-img-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  } */

  .home-page {
    height: 100vh;
  }

  section {
    scroll-snap-align: start;
    height: 100vh;
  }

  .button:hover {
    padding-bottom: 15px;
  }

  .content {
    font-size: 20px;
  }
}

/* NEXT BBREAK-POINT */
@media all and (max-width: 620px) and (min-width: 480px) {
  * {
    color: yellow;
  }

  section {
    scroll-snap-align: start;
    height: 55vh;
  }

  .button:hover {
    padding-bottom: 13px;
  }
}

@media all and (max-width: 480px) {
  /* * {
    color white;
  } */

  section {
    scroll-snap-align: start;
    height: 100vh;
  }

  .second-header {
    font-size: 8px;
  }

  .main-header {
    display: block;
    font-size: 12px;
    padding-bottom: 18px;
  }

  .nav {
    font-size: 10px;
  }

  .nav:last-child {
    margin-right: 0;
  }

  .artist-name {
    margin-bottom: 10px;
  }
}
