/* DESKTOP */

@media all and (max-width: 2000px) and (min-width: 768px) {
  * {
    color: chocolate;
  }

  .content {
    font-size: 20px;
    height: 125vh;
  }

  .portfolio-page {
    padding: 1rem 0;
  }

  .description {
    padding: 1rem 0;
  }

  .main-header {
    padding: 18px 0;
  }

  .logo-centre img {
    width: 25%;
  }

  .music-page {
    height: 125vh;
    background-color: #fff;
  }
}

/* LAPTOP: 768px */

/* TABLET */
@media all and (max-width: 950px) and (min-width: 480px) {
  * {
    color: blue;
  }
  .second-header {
    font-size: 8px;
  }

  .main-header {
    display: grid;
    font-size: 12px;
    padding-bottom: 18px;
  }

  .nav {
    font-size: 15px;
  }

  .nav:last-child {
    margin-right: 0;
  }

  .artist-name {
    margin-bottom: 10px;
    justify-self: center;
    width: 25%;
    margin-bottom: 15px;
  }

  .second-header {
    font-size: 10px;
  }

  .dot {
    height: 3px;
    width: 3px;
  }

  .home-page {
    height: 105vh;
  }

  section {
    scroll-snap-align: start;
    height: 100vh;
  }

  .button:hover {
    padding-bottom: 15px;
  }

  .content {
    font-size: 20px;
    height: 110vh;
  }

  .logo-centre img {
    width: 40%;
  }

  .playlist-1-description p,
  .playlist-2-description p {
    font-size: 28px;
    font-weight: 600;
  }
}

/* NEXT BBREAK-POINT */
@media all and (max-width: 620px) and (min-width: 480px) {
  * {
    color: yellow;
  }

  .button:hover {
    padding-bottom: 13px;
  }

  .portfolio-page {
    height: 280vh;
  }

  .logo-centre img {
    width: 70%;
  }

  .playlist-1-description p,
  .playlist-2-description p {
    font-size: 22px;
  }

  .music-page {
    height: 120vh;
  }
}

@media all and (max-width: 480px) and (min-width: 200px) {
  * {
    color: purple;
  }

  .second-header {
    font-size: 8px;
  }

  .main-header {
    display: grid;
    font-size: 12px;
    padding-bottom: 18px;
  }

  .nav {
    font-size: 8px;
  }

  .nav:last-child {
    margin-right: 0;
  }

  .artist-name {
    margin-bottom: 10px;
    justify-self: center;
  }

  .portfolio-page {
    height: 220vh;
  }

  .logo-centre img {
    width: 90%;
  }

  .artist-name {
    width: 40%;
  }

  /* CREDITS PAGE */
  .credits-playlist {
    margin: 0 10px;
  }

  #credits-title {
    padding-bottom: 60px;
  }

  #credits-description {
    font-size: 25px;
  }

  .playlist-1-description p,
  .playlist-2-description p {
    font-size: 20px;
  }

  .music-page {
    height: 150vh;
  }
}

/* Iphone 12 screen Resolution: 1170 x 2532 */
@media all and (width: 1170px) {
  * {
    color: sienna;
  }

  .main-header {
    display: grid;
  }

  .artist-name {
    font-size: 130px;
    margin-top: 10px;
    justify-self: center;
    width: 40%;
  }

  .nav {
    padding: 30px 0;
    font-size: 35px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
  }

  .second-header {
    font-size: 30px;
    padding: 60px 0;
  }

  .logo-centre img {
    width: 100%;
    padding: 12px 0;
  }

  .fa {
    visibility: hidden;
  }
}
