/* DESKTOP */

@media all and (max-width: 1400px) and (min-width: 768px) {
  section {
    scroll-snap-align: start;
    height: 100vh;
    color: chocolate;
  }

  .content {
    font-size: 20px;
  }

  #ovs,
  #maserati,
  #bmw,
  #piccolo,
  #marangoni,
  #tods {
    height: 150px;
  }
}

/* LAPTOP: 768px */

/* TABLET */
@media all and (max-width: 768px) and (min-width: 480px) {
  * {
    color: blue;
  }

  .main-header {
    display: block;
    font-size: 12px;
  }

  .artist-name {
    padding: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }

  a:hover,
  a:active {
    background-color: unset;
    padding: 5px 0;
    border-top: 1px solid white;
  }

  .second-header {
    font-size: 8.5px;
  }

  .dot {
    height: 3px;
    width: 3px;
  }

  .home-page {
    height: 100vh;
  }

  section {
    scroll-snap-align: start;
    height: 100vh;
  }

  .button:hover {
    padding-bottom: 15px;
  }

  .content {
    font-size: 20px;
  }

  #ovs,
  #maserati,
  #bmw,
  #piccolo,
  #marangoni,
  #tods {
    grid-column: 1 / -1;
    height: 60px;
  }

  #maserati {
    grid-column: 1 / -1;
  }
}

/* NEXT BBREAK-POINT */
@media all and (max-width: 620px) and (min-width: 480px) {
  * {
    color: yellow;
  }

  section {
    scroll-snap-align: start;
    height: 55vh;
  }

  .button:hover {
    padding-bottom: 13px;
  }
}

@media all and (max-width: 480px) and (min-width: 200px) {
  * {
    color: purple;
  }

  section {
    scroll-snap-align: start;
    height: 100vh;
  }

  .second-header {
    font-size: 8px;
  }

  .main-header {
    display: block;
    font-size: 12px;
    padding-bottom: 18px;
  }

  .nav {
    font-size: 8px;
  }

  .nav:last-child {
    margin-right: 0;
  }

  .artist-name {
    margin-bottom: 10px;
  }

  #ovs,
  #maserati,
  #bmw,
  #piccolo,
  #marangoni,
  #tods {
    grid-column: 1 / -1;
    height: 65px;
  }
}

/* Iphone 12 screen Resolution: 1170 x 2532 */
@media all and (max-height: 2778px) and (min-width: 1170px) and (min-height: 1000px) {
  * {
    color: sienna;
  }

  .main-header {
    display: block;
  }

  .artist-name {
    font-size: 130px;
    margin-top: 10px;
  }

  .nav {
    padding: 30px 0;
    font-size: 35px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
  }

  .second-header {
    font-size: 30px;
    padding: 60px 0;
  }

  #ovs,
  #maserati,
  #bmw,
  #piccolo,
  #marangoni,
  #tods {
    grid-column: 1 / -1;
    height: 200px;
  }

  #portfolio {
    font-size: 80px;
  }
}
