.portfolio-page {
  padding: 1rem 0;
}

.description {
  padding-top: 1rem 0;
  font-size: 30px;
}

.title {
  font-size: 50px;
  padding-bottom: 5.5rem;
}

.auto-grid {
  --auto-grid-min-size: 16rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
  align-content: center;
}

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}

li {
  /* padding: 5rem 1rem; */
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

li img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

/* #hovering effect on image */
.auto-grid li {
  overflow: hidden;
}

.auto-grid li a img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.auto-grid li:hover a img {
  transform: scale(1.5);
}

.parallax {
  /* The image used */
  background-image: url("/imgs/profile-pic.JPG");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
