.grid-container-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  justify-content: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 20px;
}

#portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr;
}

/* align title at the centre of cell */
.content {
  align-items: center;
}

.description {
  align-self: center;
}

#title {
  height: 40px;
}

#ovs {
  background-color: goldenrod;
  height: 150px;
}

#maserati {
  background-color: NAVY;
  height: 150px;
}

#bmw {
  background-color: #0074d9;
  height: 150px;
}

#piccolo {
  background-color: OLIVE;
  height: 150px;
}

#marangoni {
  background-color: ORANGE;
  height: 150px;
}

#tods {
  background-color: MAROON;
  height: 150px;
}

#ovs-link,
#maserati-link,
#bmw-link,
#piccolo-link,
#marangoni-link,
#tods-link {
  display: block;
  height: 150px;
  padding: 0;
  border: unset;
  color: whitesmoke;
  text-decoration: none;
}
