.social-container .fa:hover {
  background: rgba(0, 0, 0, 0.808);
  color: white;
}

.social-container .fa {
  color: rgb(0, 0, 0);
  padding: 15px;

  width: 18px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  /* /* border: 1px solid black; */
} 
